<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="" class="navbar-brand">Транзит 2.0</a>
    </div>
  </div>

  <div class="navbar-default">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="/out-folder" style = 'cursor: pointer'>Папка out</a></li>
      <li routerLinkActive="active"><a routerLink="/iso20022" style = 'cursor: pointer'>ISO 20022</a></li>
      <li routerLinkActive="active"><a routerLink="/free-format" style = 'cursor: pointer'>Свободный формат</a></li>
      <li routerLinkActive="active"><a routerLink="/in-folder" style = 'cursor: pointer'>Папка in</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" style="padding-right: 15px">
      <li routerLinkActive="active"><a routerLink="/logout" style = 'cursor: pointer'>Выход</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
