<div class="row">
  <table>
    <tr>
      <td colspan="2">
        <br>
        <br>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button type="button" class="btn btn-primary" [disabled]="server_state?.exchange_active" (click)="setExchangeState(true)">Запустить обмен</button>
        <button type="button" class="btn btn-light" [disabled]="!server_state?.exchange_active" (click)="setExchangeState(false)">Остановить обмен</button>
        <br>
        <br>
      </td>
    </tr>
    <tr>
      <td>Ошибок за последние 20 минут</td><td>{{ server_state?.errors_last }}</td>
    </tr>
    <tr>
      <td>Свободное место на диске</td><td>{{ server_state?.hdd_free_space }}</td>
    </tr>
    <tr>
      <td>Задержки исходящих сообщений</td><td>{{ server_state?.out_files_delay }}</td>
    </tr>
    <tr>
      <td>Задержки входящих сообщений</td><td> {{ server_state?.in_files_delay }}</td>
    </tr>
  </table>
</div>
