<div class="row">
  <button type="button" class="btn btn-success" [disabled]="exchange_active" (click)="setExchangeState(true)">Запустить обмен</button>
  <button type="button" class="btn btn-danger" [disabled]="!exchange_active" (click)="setExchangeState(false)">Остановить обмен</button>
</div>
<div class="row">
  Ошибок за последние 20 минут {{ server_state?.errors_last }}
</div>
<div class="row">
  Свободное место на диске {{ server_state?.hdd_free_space }}
</div>
<div class="row">
  Исходящих сообщений, отправляющихся дольше 2х минут {{ server_state?.out_files_delay }}
</div>
<div class="row">
  Входящих сообщений, обрабатывающихся дольше 2х минут {{ server_state?.in_files_delay }}
</div>

